<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/tailwindcss/2.1.2/dist/tailwind.min.css}">
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <title>ShareMemories</title>
</head>
<body class="bg-gray-100">
    <div class="flex h-screen">
        <div class="max-w-md m-auto">
            <form th:action="@{/login}" method="POST" class="rounded-xl bg-white shadow mb-6">
                <div class="w-full rounded-lg bg-gray-50">
                    <div class="px-4 py-2 bg-white rounded-t-lg">
                        <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
                        <div class="mb-6">
                            <span class="font-bold text-center">Welcome to ShareMemories!</span>
                        </div>
                        <div class="mb-6">
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                            <input type="email" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="name@flowbite.com" required>
                        </div>
                        <div class="mb-6">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                            <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        </div>
                        <div class="flex items-start mb-4">
                            <div class="flex items-center h-5">
                                <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" disabled>
                            </div>
                            <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
                        </div>
                    </div>
                    <div class="flex items-center justify-between border-t">
                        <div class="w-1/2">
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm w-full px-5 py-2.5 text-center">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <span>Don't have an account? <a href="/register">Click here</a> to register!</span>
            </div>
        </div>
    </div>
</body>
</html>