<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.save.js}"></script>
    <title>ShareMemories</title>
</head>
<body>
    <form th:action="@{/api/reactions}" method="POST" id="reactionForm">
        <input type="text" name="name">
        <input type="text" name="image">
        <button type="submit">
            Create
        </button>
    </form>

    <form th:action="@{/api/reactions/52}" method="PUT" id="reactionReplaceForm">
        <input type="text" name="name">
        <input type="text" name="image">
        <button type="submit">
            Update
        </button>
    </form>
</body>
</html>