<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/tailwindcss/2.1.2/dist/tailwind.min.css}">
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.save.js}"></script>
    <script th:src="@{/js/jquery.boot.js}"></script>
    <title>ShareMemories</title>
</head>
<body class="bg-gray-100">
<div class="pt-4 w-1/2">
    <div id="user-info" class="float-left w-4/12">
        <div class="rounded-xl mb-4 bg-white shadow">
            <img th:src="${user.getImagePath()}">
        </div>
        <div class="rounded-xl mb-4 bg-white p-4 shadow">
            <span class="font-bold" th:text="${user.getFirstname()} + ' ' + ${user.getLastname()}"></span>
        </div>
        <div class="rounded-xl mb-4 bg-white p-4 grid grid-flow-row auto-rows-max shadow">
            <span>Birthday: --/--/----</span>
            <span>City: ---</span>
            <span th:text="'Active since: ' + ${user.getCreationDate()}"></span>
            <button type="button" name="add-to-friends" th:value="${user.getId()}">
                <img class="w-12" src="/images/icons/user-icon.svg">
                ADD TO FRIENDS
            </button>
        </div>
    </div>
    <div id="user-posts" class="float-right w-7/12 grid grid-flow-row auto-rows-max">
        <div class="mb-4 p-4">
            <div>
                <a href="/">
                    <img class="w-12" src="/images/icons/go-back-icon.svg">
                </a>
            </div>
            <div id="posts" class="hidden">
            </div>
        </div>
    </div>
</div>
</body>
</html>