<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/tailwindcss/2.1.2/dist/tailwind.min.css}">
    <script th:src="@{/webjars/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.save.js}"></script>
    <script th:src="@{/js/jquery.boot.js}"></script>
    <title>ShareMemories</title>
</head>
<body class="bg-gray-100">
    <div class="flex flex-col h-screen justify-between">
        <main class="max-w-4xl m-auto">
            <div class="w-full flex items-center justify-between mb-4 py-4">
                <div>
                    <a href="/">
                        <img src="/images/logo.png" class="h-10" alt="ShareMemories Logo">
                    </a>
                </div>
                <div class="w-1/3 flex justify-center">
                    <a href="/" class="flex items-center hover:underline text-sm">
                        <span>Return to main page.</span>
                        <img src="/images/icons/go-back-icon.svg" class="w-6" alt="return icon">
                    </a>
                </div>
            </div>
            <div class="float-left w-1/3">
                <div class="p-2 bg-white rounded-t-xl shadow">
                    <div class="mb-4 mt-2 text-sm font-medium text-gray-900 text-center">
                        <span>Profile</span>
                    </div>
                    <div class="mb-6 rounded-xl bg-gray-100 border">
                        <img th:src="${profileUser.getImagePath()}" alt="user profile picture">
                    </div>
                    <div class="mb-6 p-2 text-lg font-medium text-gray-900 text-center">
                        <span class="font-bold p-2" th:text="${profileUser.getCapitalizedFirstAndLastName()}"></span>
                    </div>
                    <div class="p-2 border-t">
                        <div class="block p-2 text-sm text-gray-90">
                            <span class="font-medium">Birthday: </span><span>--/--/----</span>
                        </div>
                        <div class="block p-2 text-sm text-gray-90">
                            <span class="font-medium">Gender: </span><span>---</span>
                        </div>
                        <div class="block p-2 text-sm text-gray-90">
                            <span class="font-medium">City: </span><span>---</span>
                        </div>
                        <div class="block p-2 text-sm text-gray-90">
                            <span class="font-medium">Active since: </span><span th:text="${profileUser.getCreationDate()}"></span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <span th:if="${profileUser.isUserInContacts(loggedUser.getId())}" class="w-full text-white bg-gradient-to-r from-gray-400 to-gray-600 font-medium text-sm
                        px-6 py-3 text-center rounded-b-xl">
                            User already in friends list
                        </span>
                    <button th:unless="${profileUser.isUserInContacts(loggedUser.getId())}" class="w-full text-white bg-gradient-to-r from-purple-400 to-purple-600 hover:from-purple-800
                    focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium text-sm px-6 py-3 text-center rounded-b-xl" type="button" name="add-to-friends" th:value="${profileUser.getId()}">
                        <span>Add to friends</span>
                        <!--                            <img class="w-6 rounded-xl" src="/images/icons/user-icon.svg" alt="user icon">-->
                    </button>
                </div>
            </div>
            <div id="user-posts" class="float-right w-2/3">
                <div id="posts" class="mb-6">
                </div>
            </div>
        </main>
    </div>
</body>
</html>